* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

header { 
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

header #logo {
    display: flex;
    flex: 0 1 200px;
    justify-content: center;
    align-items: center;
}

header #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
}

#menu a {
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
}

#menu a:hover {
    background-color: blue;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    z-index: 2; /* Adicione esta linha */
}

main .botoes {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}

main .botoes a {
    margin-right: 10px;
    border-radius: 50%;
}

main .botoes a > img{
    width: 50px;
    border-radius: 50%;
}

#opcoes {
    margin-left: 30px;
}

main #iframe {
    margin: 22px;
    border: none;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    z-index: 2;
}
#copy a > img {
    width: 20px;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -1;
    background-size: cover; /* Adicione esta linha para garantir que o vídeo cubra a tela inteira */
}