@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --red:hsl(14, 86%, 42%);
    --green:hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100:hsl(13, 31%, 94%);
    --rose300:hsl(14, 25%, 72%);
    --rose400:hsl(7, 20%, 60%);
    --rose500:hsl(7, 20%, 60%);
    --rose900:hsl(14, 65%, 9%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
    border: none;
    outline: none;
 
}
body{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--rose100);
}

main{
    display: flex;
    flex-flow: row wrap;
}
.dessert-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:6%;
    width: 10%;
}

.container-menu{
    display: flex;
    flex-flow: row wrap;
    width: 67%;
    height: 80%;
    padding: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33.33%; 
    padding: 5px;
}

.imagem {
    position: relative;
    width: 60%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}

.btn_addCart {
    color: black;
    padding: 5px 8px; 
    border: none;
    border-radius: 10px;
    border: 1px solid var(--red);
    cursor: pointer;
    transition: 0.3s;
    position: absolute; /* Posicione o botão sobre a imagem */
    bottom: 10px; /* Ajuste a posição do botão */
}

.btn_addCart:hover{
    background-color: var(--rose500);
    color: white;
}

.btn_addCart img {
    width: 15px;
    margin-right: 3px;
}

.description-menu{
    text-align: center;
    width: 100%; /* Ajuste para ocupar toda a largura do item */
}

.description-menu > .name-dessert{
    color: #555;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 2px;
}

.description-menu > .description-dessert{
    font-size: 16px;
    margin-bottom: 2px;
}

.description-menu > span{
    font-size: 14px;
}
.container-cart {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    width: 30%;
    height: 50vh;
}
.title-cart {
    color: var(--red);
}
.order-list {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.order-list .dessert {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.dessert > .dessert-info {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: flex-start;
}
.quant-dessert {
    color: var(--red);
}
.unit-value {
    color: var(--rose400);
}
.total-value {
    color: var(--rose900);
}
.container-cart > .order-total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px 15px 0px 15px;
}
.confirm-order {
    display: flex;
    padding: 10px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.confirm-order > .btn_confirmOrder {
    border-radius: 20px;
    padding: 5px;   
    margin: 10px;
    width: 140px;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn_confirmOrder:hover {
    background-color: var(--rose500);
    color: white;
}



/*==========================================================*/
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--rose900);
    color: white;
    padding: 10px;
}
.attribution > a{
    text-decoration: none;
    color: var(--red);
    transition: 0.3s;

}
.attribution > a:hover{
    color: var(--rose500);
    text-decoration: underline;
}
/* Media queries para responsividade */
@media (max-width: 768px) {
    .item {
        flex-basis: 100%; /* Ajuste aqui */
    }

    .imagem {
        width: 100%; /* Ajuste aqui */
    }
}