* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #576490;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}
#forma-azul{
    background: #7796CB;
    width: 1000px;
    height: 720px;
    max-width: 70vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    /*formato*/
    transform: skew(6deg, 3deg);
    position: absolute;
    z-index: -1;
}
section {
    display: flex;
    background-color: white;
    padding: 30px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    max-width: 70vw;
}
section img {
    height: 120px;
    width: 120px;
    margin: auto 40px;
}
section h1 {
   padding: 40px 10px;
   text-align: center; 
}
fieldset {
    border: none;
}
fieldset:nth-child(2){
    display: flex;
}
fieldset:nth-child(4){
    display: flex;
    padding-top:20px;
}
fieldset:nth-child(5){
    display: flex;
    width:100%;
    margin-top: 20px;
    padding: 0px 10px;
}

fieldset:last-child{

}

#container {
    position: relative;

}
#container input{
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: 70px;
    border: none;
    background-color: #D1D2F9;
    border-radius: 10px;
    color: #576490;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 10px 0 10px;
}
#container label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #9d9d9d;
    position: absolute;
    line-height: 70px;
    top: 10px;
    left: 20px;
    user-select: none;
    /*cursor por cima*/
    pointer-events: none;
    transition: 0.5s;
}
/*foco para alterar as propriedades do label*/
#container input:focus ~ label,
/*quando ele for válido*/
#container input:valid ~ label{
    /*quando clicar no input eu quero fazer um efeito no label*/
    left: 20px;
    top: -10px;
    color: #1484a0;
}
#check {
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}
#check input{
    width: 25px;
    height: 25px;
    margin: auto 0;
}
#check label {
    margin:auto 10px;
    color: gray;
    transition: 0.5s;
}
#check input:checked ~ label,
#check input:valid ~ label{
    color: #00acd7;
    font-weight: 600;
}
button{
    margin: 40px;
    margin-left: 10px;
    height: 70px;
    width: calc(50% - 10px);
    background-color: #1484a0;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s linear;
}

button:hover {
    opacity: 0.8;
}

form a {
    text-decoration: none;
    font-size: 16px;
    color: #555;
    font-weight: 500;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

form a:hover {
    color: #00d7;
}